@ -1,22 +0,0 @@
distorm3
yara-python
pycryptodome
pillow
openpyxl
ujson
pytz
ipython
capstone
construct==2.5.5
pefile
jsonschema
leechcorepyc
python-snappy
pwntools
requests
pyshark
pipx
pyinstaller
uncompyle6
volatility3
sigma-cli